<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CadenaBD" value="Data Source=DESKTOP-9U5F114;Initial Catalog=PavTP;Integrated Security=True"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>